<ion-view title="ホームトップ" id="hometop" class=" ">
  <ion-content ng-controller="hometopCtrl" padding="true" class="has-header">
    <h1 class="title">Photos</h1>
    <button class="button button-full button-assertive" ng-click="takePhoto()">
      Take Photo
    </button>
    <button class="button button-full button-assertive" ng-click="choosePhoto()">
      Choose Photo
    </button>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
  </ion-content>
</ion-view>
